@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button {
  width: '60px';
  background-color: #E24E1B;
  color: white;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #E24E1B;
}
.button:hover {
  background-color: #9b2b06;
  cursor: pointer;
  border: 1px solid #9b2b06;
}
