.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.title {
  font-size: xx-large;
  margin-bottom: 20px;
  color: #654236;
}
.sectionone, .sectiontwo {
  height: 70vh;
}
.sectiontwo {
  position: relative;
}
.image {
  border-radius: 12px 12px 12px 12px;
}
.button {
  width: '60px';
  background-color: #E24E1B;
  color: white;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #E24E1B;
}
.button:hover {
  background-color: #9b2b06;
  cursor: pointer;
  border: 1px solid #9b2b06;
}