.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.title {
  font-size: xx-large;
  margin-bottom: 20px;
  color: #654236;
}
.sectionone, .sectiontwo {
  height: 70vh;
}
.sectiontwo {
  position: relative;
}
.image {
  border-radius: 12px 12px 12px 12px;
}