.navbar {
  width: '100%';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 1rem;
}
.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: #654236
}
.navlinks {
  display: flex;
}
.navlink {
  list-style: none;
  margin: 0 0.75rem;
  text-transform: uppercase;
}
.navlink a {
  text-decoration: none;
  color: #654236;
}
.navlink a:hover {
  color: #f9826c;
}
.cart {
  text-decoration: none;
  color: #654236;
}
.cart span {
  color: #E24E1B;
}
.cart:hover {
  color: #f9826c;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
}